body {
  font-family: Arial, Helvetica, sans-serif;
}
.chat-container {
  height: 100vh;
}
.messages {
  height: 55%;
  overflow-y: scroll;
}
.messages li {
  list-style-type: none;
  margin: 1em 0;
}

.text-input {
  border-color:  transparent;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #0dcaf0;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
